@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --text: #100f0f;
  --red: #dc2626;
  --border: #d1d5db;
  --active-text: #ffffff;
  --shadow: rgba(0, 0, 0, 0.1);

  :where(.dark) {
    --background: #100f0f;
    --text: #ffffff;
    --red: #dc3636;
    --border: #8d8686e6;
    --active-text: #ffffff;
    --shadow: rgba(255, 255, 255, 0.08);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-color: var(--text);
  --color-red: var(--red);
  --color-border: var(--border);
  --color-active-text: var(--active-text);
  --color-shadow-color: var(--shadow);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

body {
  font-family: 'Zain', sans-serif;
}

.zain-extralight {
  font-family: 'Zain', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.zain-light {
  font-family: 'Zain', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zain-regular {
  font-family: 'Zain', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zain-bold {
  font-family: 'Zain', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zain-extrabold {
  font-family: 'Zain', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.zain-black {
  font-family: 'Zain', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.zain-light-italic {
  font-family: 'Zain', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.zain-regular-italic {
  font-family: 'Zain', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
